<h1>Forgot password form</h1>
<%= form_for(:user, url: password_recovery_path) do |form| %>
<div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
</div>
  <div>
    <%= form.submit button_text %>
    <%= link_to '<button>Back to home page</button>'.html_safe, root_path %>
  </div>
  <% end %>
