<section class="column is-half">
  <h1 class="title">Forgot password form</h1>

  <%= form_for(:user, url: set_new_password_path) do |form| %>
    <div>
        <%= form.hidden_field :token, value: @token %>
    </div>

    <div class="field">
      <label class="label">New password</label>
      <div class="control">
        <%= form.password_field :password, class: "input", placeholder: "new password" %>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <%= form.submit 'Set new password', class: "button is-link" %>
      </p>
      <p class="control">
        <%= link_to 'Back to home page'.html_safe, root_path, class: "button is-light" %>
      </p>
    </div>
  <% end %>
</section>
