<h1>Forgot password form</h1>
<%= form_for(:user, url: set_new_password_path) do |form| %>
<div>
    <%= form.hidden_field :token, value: @token %>
</div>
<div>
    <%= form.label :new_password %><br>
    <%= form.password_field :password %>
</div>
  <div>
    <%= form.submit 'Set new password' %>
    <%= link_to '<button>Back to home page</button>'.html_safe, root_path %>
  </div>
  <% end %>
