<div class="content is-vcentered has-text-centered">
    <div class="container">
        <div class="content is-large">
            <div class="level-item has-text-centered">
                <h1>Registration form</h1>
            </div>
        </div>
    </div>
</div>

<%= form_with model: @user do |form| %>

  <div class="level-item has-text-centered">
    <label class="label">Name</label>
  </div>
    <div class="field">
        <div class="level-item has-text-centered">
            <div class="control has-icons-left">
                <%= form.text_field :name, class: "input", placeholder: "name" %>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <% @user.errors.full_messages_for(:name).each do |message| %>
            <div class="level-item has-text-centered">
                <br>
                <p class="help is-danger">
                    <%= message %>
                </p>
            </div>
        <% end %>
    </div>

  <div class="level-item has-text-centered">
    <label class="label">Telegram Id</label>
  </div>
    <div class="field">
        <div class="level-item has-text-centered">
            <div class="control has-icons-left">
                <%= form.text_field :telegram_id, class: "input", placeholder: "123" %>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        <% @user.errors.full_messages_for(:telegram_id).each do |message| %>
            <div class="level-item has-text-centered">
                <br>
                <p class="help is-danger">
                    <%= message %>
                </p>
            </div>
        <% end %>
    </div>

    <div class="field">
        <div class="level-item has-text-centered">
            <div class="field is-grouped">
                <p class="control">
                    <%= form.submit button_text, class: "button is-link" %>
                </p>
                <p class="control">
                    <%= link_to 'Back to home page'.html_safe, root_path, class: "button is-light" %>
                </p>
            </div>
        </div>
    </div>

<% end %>
