<% if logged_in? %>

  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Operations', operations_path %></li>
    </ul>
  </aside>

  <%if current_user.is_admin? %>
    <aside class="menu">
      <p class="menu-label">
        ADMINISTRATION
      </p>
      <ul class="menu-list">
        <li><%= link_to 'Create User', new_user_path %></li>
        <li><%= link_to 'Admin panel', users_path %></li>
      </ul>
    </aside>
  <% end %>

<% else %>

    <div class="content is-large">
      <h1>Welcome to the TIAE finance App</h1>
    </div>

    <div class="field is-grouped">
        <p class="control">
          <%= link_to "Sign up now!", new_user_path, class: 'button is-link' %>
        </p>
    </div>

<% end %>
