<%= form_with model: @category do |form| %>

  <div class="field">
    <label class="label">Name</label>
        <%= form.text_field :name, class: "input", placeholder: "category name" %>
    <% @category.errors.full_messages_for(:name).each do |message| %>
      <p class="help is-danger">
        <%= message %>
      </p>
    <% end %>
  </div>

  <div class="field is-grouped">
    <p class="control">
        <%= form.submit button_text, class: "button is-link" %>
    </p>
    <p class="control">
        <%= link_to 'Back to list'.html_safe, categories_path, class: "button is-light" %>
    </p>
  </div>

<% end %>
