<div class="container px-4-mobile">
  <section class="column is-half">
    <h1 class="title">Categories list</h1>

    <div class="field is-grouped">
      <p class="control">
        <%= link_to 'Create', new_category_path, class: "button is-link" %>
      </p>
    </div>

    <div class="field is-grouped">
      <%= form_with url: categories_path, method: "get"  do |form| %>
        <div class="control">
          <div class="select">
            <% page_size=%i[5 10 25 50]%>
            <%= form.select :page_size, page_size.each { |key| [key, key] }, selected: params[:page_size], prompt: 'Select page size'%>
          </div>
          <%= form.submit "Filter", class: "button is-link" %>
        </div>
      <% end %>
    </div>

    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>actions</th>
      </tr>
      <% @categories.each do |category|  %>
            <tr>
              <td><%= category.id %></td>
              <td><%= category.name %></td>
              <td>
                <%= link_to 'Show', category %>
                <%= link_to 'Edit', [:edit, category] %>
                <%= link_to "Destroy", category, data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"
                                  } %>
              </td>
            </tr>
      <% end %>
    </table>
    <div class="is-hidden-tablet">
      <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
      <%= link_to 'Back to Home page'.html_safe, root_path, class: "button is-light" %>
    </div>

    <div class="is-hidden-mobile">
      <div class="columns is-multiline">
        <div class="column is-full">
          <nav class="pagination pagination-left" role="navigation">
            <ul class="pagination-list">
              <%== render partial: 'shared/pagination', locals: {pagy: @pagy} %>
            </ul>
          </nav>
          <div class="mt-4">
            <%= link_to 'Back to Home page'.html_safe, root_path, class: "button is-light" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
