<h1>Categories list</h1>
<%= link_to 'Create', new_category_path %>
<table border>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>actions</th>
      </tr>
<% @categories.each do |category|  %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Show', category %>
          <%= link_to 'Edit', [:edit, category] %>
          <%= link_to "Destroy", category, data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %>
        </td>
      </tr>
<% end %>
</table>
<%= will_paginate @categories %>
<%= link_to 'Back to Home Page', root_path %>
