<%= form_with url: operations_path, method: "get"  do |form| %>
  <div class="control">
    <div class="field">
      <div class="select">
        <%= form.select :currency, Operation.currencies.keys.map { |key| [key, key] }, selected: params[:currency], include_blank: "All currencies" %>
      </div>
      <div class="select">
        <%= form.select :direction, Operation.directions.keys.map { |key| [key, key] }, selected: params[:direction], include_blank: "All directions" %>
      </div>
      <div class="select">
        <%= form.select :category, Category.all.map { |object| [object.name, object.id] }, selected: params[:category], include_blank: "All categories" %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <label class="label">Start date</label>
        <%= form.date_field :date_start, type: "date", class: "input", :value => params[:date_start] %>
      </div>
      <div class="control">
        <label class="label">Finish date</label>
        <%= form.date_field :date_finish, type: "date", class: "input", :value => params[:date_finish] %>
      </div>
      <div class="control">
        <label class="label">Comment</label>
        <%= form.text_field :comment, type: "text", class: "input", :value => params[:comment] %>
      </div>
      <div class="control">
        <label class="label">Order by date</label>
        <dev class="select">
          <%= form.select :order_by_date, OperationQuery::TRANSLATE_ORDER_PARAMS.to_a, selected: params[:order_by_date] %>
        </dev>
      </div>
    </div>
    <div class="field">
      <div class="select">
        <% page_size=%i[5 10 25 50]%>
        <%= form.select :page_size, page_size.each { |key| [key, key] }, selected: params[:page_size], prompt: 'Select page size'%>
      </div>
      <%= form.submit "Filter", class: "button is-link" %>
    </div>
  </div>
<% end %>