  <%= form_with model: @operation do |form| %>
  <div>
    <%= form.label :direction %><br>
    <%= form.select :direction, Operation.directions.keys.map { |key| [key, key] } %>
    <% @operation.errors.full_messages_for(:direction).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>
  <div>
      <%= form.label :categories %><br>
      <%= form.select :category_id, Category.all.collect {|p| [p.name, p.id]}%>
      <% @operation.errors.full_messages_for(:category_id).each do |message| %>
          <div><%= message %></div>
      <% end %>
  </div>
  <div>
    <%= form.label :date %><br>
    <%= form.date_select :date%>
    <% @operation.errors.full_messages_for(:date).each do |message| %>
       <div><%= message %></div>
       <% end %>
  </div>
  <div>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
    <% @operation.errors.full_messages_for(:amount).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :currency %><br>
    <%= form.select :currency, Operation.currencies.keys.map { |key| [key, key] } %>
    <% @operation.errors.full_messages_for(:currency).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit button_text %>
    <%= link_to '<button>Back to list</button>'.html_safe, operations_path %>
  </div>
<% end %>
