<h1>Operations list</h1>
<%= link_to 'Create', new_operation_path %>
<%= form_with url: operations_path, method: "get"  do |form| %>
    <%= form.label "Currencies:" %>
    <%= form.select :currency, Operation.currencies.keys.map { |key| [key, key] }, selected: params[:currency], include_blank: "All currencies" %>
    <%= form.label "Directions:" %>
    <%= form.select :direction, Operation.directions.keys.map { |key| [key, key] }, selected: params[:direction], include_blank: "All directions" %>
    <%= form.label "Categories:" %>
    <%= form.select :category, Category.all.map { |object| [object.name, object.id] }, selected: params[:category], include_blank: "All categories" %>
    <br><%= form.label "Date start:" %>
    <%= form.date_field :date_start, :value => params[:date_start] %>
    <%= form.label "Date finish:" %>
    <%= form.date_field :date_finish, :value => params[:date_finish] %>
    <%= form.label "Page size:" %>
    <% page_size=%i[5 10 25 50]%>
    <%= form.select :page_size, page_size.each { |key| [key, key] }, selected: params[:page_size], prompt: 'Select page size'%>
    <%= form.submit("Filter") %>
    
<% end %>
<table border>
      <tr>
        <th>id</th>
        <th>category</th>
        <th>direction</th>
        <th>amount</th>
        <th>currency</th>
        <th>data</th>
        <th>actions</th>
      </tr>
<% @operations.each do |operation| %>
      <tr>
        <td><%= operation.id %></td>
        <td><%= operation.category.name %></td>
        <td><%= operation.direction %></td>
        <td><%= operation.amount %></td>
        <td><%= operation.currency %></td>
        <td><%= operation.date %></td>
        <td>
          <%= link_to 'Show', operation %>
          <%= link_to 'Edit', [:edit, operation] %>
          <%= link_to "Destroy", operation, data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %>
        </td>
      </tr>
<% end %>
</table>
<%= render partial: "shared/pagination" %>
<h2>Totals</h2>
<table border>
      <tr>
        <th>amount</th>
        <th>currency</th>
        <th>direction</th>
      </tr>
<% @totals_operations.each do |operation| %>
  <tr>
    <% operation.each do |value| %>
      <td><%= value %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to 'Back to Home Page', root_path %>
<br><%= link_to 'Download as Excel', operations_path(**@params, format: :xlsx) %>
